<rx-page title="'Thanks for using Encore.'" subtitle="'We want to make your jobs easier. Here is how you can help us.'">
    <div class="clear content">
        <section class="paper">
            <p>
                Racker Tools is on a mission to rebuild two of the most central systems here at Rackspace - CORE and Cloud Control. We call this collection of projects <em>Encore</em>.
            </p>
            <p>
                We're dedicated to developing solutions that address everyone's problems, so we want to hear from you. <a href="http://encore.rax.io/" target="_blank">You can find us at the Castle</a> (in Phase 4, by the Bookstore) or if there’s something that you think we should be looking into, feel free to <rx-feedback>send us feedback</rx-feedback>.
            </p>
            <p>
                Thanks!<br/>
                <span class="signature">&#151; Your Racker Tools Team</span>
            </p>
        </section>
    </div>
</rx-page>