<rx-modal-form title="Edit Database User" subtitle="{{instance.name}}" submit-text="Save User Settings" cancel-text="Cancel">
    <rx-form-item
        label="Current Username">
        <input id="dbaas-current-user-name" type="text" disabled value="{{dbuser.name}}">
    </rx-form-item>
    <rx-form-item
        label="New Username"
        description="Max length 16 characters.">
        <input id="dbaas-user-name" type="text" ng-model="fields.user.name">
    </rx-form-item>
    <rx-form-item
        label="New Password"
        description="Max length 64 characters. Letters (upper and lower case), numbers, '@', '?', '#', '_', and spaces allowed. '@', '?', '#', '_', and spaces are not allowed at beginning or end.">
        <input id="dbaas-user-password" type="text" ng-model="fields.user.password" value="{{dbuser.password}}">
    </rx-form-item>
    <rx-form-item
            label="Host"
            description="Restrict logins to matching IPs only. Use % as a wildcard. <a target='_blank' href='http://www.rackspace.com/knowledge_center/article/managing-users-for-cloud-databases#create'>View examples.</a>">
            <input id="dbaas-user-host" type="text" ng-model="fields.user.host" required ng-pattern="/(\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|%)/">
    </rx-form-item>
</rx-modal-form>
