<span ng-if="isManagedAccount()">
    <h2 class="title">Managed Passwords</h2>
    <table class="managed-passwords">
        <thead>
            <tr role="row">
                <th class="column-title">Username</th>
                <th class="column-title">Created</th>
                <th class="column-title">Password</th>
            </tr>
        </thead>
        <tbody ng-if="!showManaged">
            <tr>
                <td colspan="3"><a class="show-passwords" ng-click="loadManagedPasswords()" ng-class="{disabled: passwordLoading}">View Passwords</a></td>
            </tr>
        </tbody>
        <tbody ng-if="showManaged" ng-switch="isEmpty(managedPassword)" class="managed-password-list">
            <tr ng-switch-when="false">
                <td>rack</td>
                <td>{{managedPassword.updated |  date:'M/d/yyyy h:mm a'}}</td>
                <td>{{managedPassword.current}}</td>
            </tr>
            <tr ng-repeat="history in managedPassword.history">
                <td>rack</td>
                <td>{{history[1] | date:'M/d/yyyy h:mm a'}}</td>
                <td>{{history[0]}}</td>
            </tr>
            <tr ng-switch-when="true">
                <td colspan="3">
                    There are no Managed Passwords on this server.
                </td>
            </tr>
        </tbody>
    </table>
</span>
