<div class="form-item">
    <label for="password" class="field-label">
        Password:
    </label>
    <div>
        <input
            type="password"
            ng-required="required"
            id="password" 
            name="password" 
            ng-model="model" 
            class="field-input"
            ng-min-length="{{minLength}}"
            ng-max-length="{{maxLength}}"
            max="{{max}}"
            min="{{min}}" />
        <span class="field-suffix" ng-if="suffix">{{suffix}}</span>
    </div>
    <label ng-if="description" class="field-description" for="{{fieldId}}">
        {{description}}
    </label>
</div>

<div class="form-item">
    <label for="repeatPassword" class="field-label">
        Confirm Password:
    </label>
    <div>
        <input
            type="password"
            ng-required="required"
            name="repeatPassword" 
            id="repeatPassword" 
            ng-model="repeatPassword" 
            class="field-input"
            repeat-password="password">
        <span class="field-suffix" ng-if="suffix">{{suffix}}</span>
    </div>
</div>
<span id="passwordMessage" ng-show="formCtrl.repeatPassword.$dirty && formCtrl.repeatPassword.$error.repeat">Passwords don't match!</span>
</span>